#content {
  position: relative;
  top: 130px;
  width: 1920px;
  height: 1850px;
  min-width: 1200px;
  left: 50%;
  margin-left: -960px;
}

#content > header {
  width: 1920px;
  height: 400px;
  display: block;
  background: url("../image/sub1-2banner.png");
}

/* lnb 영역 */
#lnb {
  width: 1200px;
  margin: 0 auto;
  /* background: #abc; */
}
#lnb::after{
  content: '';
  display: block;
  clear: both;
}
#lnb ul li a {
  float: left;
  width: 240px;
  height: 60px;
  line-height: 60px;
/*     font-weight: 500; */
  font-size: 18px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
}
#lnb .accent {
  background:#000;
  color: #fff;
}

/* breadcrumb */
#main > .location {
  /* background: #ccc; */
  width: 1200px;
  margin: 0 auto;
  text-align: right;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 30px;
}

#sub_main_contents {
  width: 1200px;
  height: 1208px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}

#sub_main_contents .map {
  height: 807px;
  padding-top: 112px;
  text-align: center;
  /* outline: 1px solid red; */
}
#sub_main_contents .map h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 50px;
  color: #3F271F;
}

#sub_main_contents .txt {
  height: 401px;
  position: relative;
  /* outline: 1px solid red; */
}

#sub_main_contents .txt img {
  position: absolute;
  top: 55px;
  left: 156px;
}

#sub_main_contents .txt-text {
  position: absolute;
  top: 55px;
  left: 638px;
}

#sub_main_contents .txt-text div {
  margin-bottom: 50px;
}

#sub_main_contents .txt h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #1b110e;
}
#sub_main_contents .txt p {
  font-weight: bold;
  line-height: 40px;
  color: #1b110e;
}